<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd ">

    <context:component-scan base-package="com.xhystc.v3ex.service"/>
    <context:component-scan base-package="com.xhystc.v3ex.async"/>
    <import resource="classpath:conf/applicationContext.xml"/>
    <import resource="classpath:conf/applicationContext-redis.xml"/>
    <bean id="tokenFilter" class="com.xhystc.v3ex.commons.TokenFilter">
        <property name="tokenPath">
            <list>
                <value>/do_</value>
                <value>/publish</value>
            </list>
        </property>
        <property name="excludedPrefix">
            <list>
                <value>/static</value>
            </list>
        </property>
        <property name="tokenParam" value="formToken"/>
       <property name="redirect" value="/"/>
    </bean>

    <bean id="passwordHelper" class="com.xhystc.v3ex.commons.PasswordHelper">
        <property name="hashIterations" value="${shiro.hashIterations}"/>
        <property name="algorithmName" value="${shiro.hashAlgorithmName}"/>
    </bean>
    <bean id="eventManager" class="com.xhystc.v3ex.async.EventManager">
        <property name="handlers">
            <list>
                <ref bean="voteEventHandler"/>
            </list>
        </property>
    </bean>

</beans>





