<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhystc.zhihu.dao.CommentDao">
    <resultMap id="commentResultMapper" type="com.xhystc.zhihu.model.Comment">
        <id column="id" property="id"/>
        <result column="parent_type" property="parentType"/>
        <result column="parent_id" property="parentId"/>
        <result column="send_date" property="sendDate"/>
        <result column="r_comment_count" property="commentCount"/>
        <result column="content" property="content"/>
        <association property="user" column="user_id" javaType="com.xhystc.zhihu.model.User" >
            <id column="uid" property="id"/>
            <result column="name" property="name"/>
            <result column="password" property="password"/>
            <result column="email" property="email"/>
            <result column="iconUrl" property="iconUrl"/>
            <result column="salt" property="salt"/>
            <result column="is_locked" property="isLocked"/>
            <result column="regist_date" property="registDate"/>
        </association>
    </resultMap>

    <select id="getCommentById" resultMap="commentResultMapper" parameterType="java.lang.Long">
        SELECT c.*,u.*,u.id AS uid,ci.comment_count as r_comment_count
        FROM comment c
        LEFT JOIN user u ON u.id = c.user_id
        LEFT JOIN comment_inform ci on ci.id = 'comment_${_parameter}'
        where c.id = #{_parameter}
    </select>
    <update id="updateComment" parameterType="com.xhystc.zhihu.model.Comment">
        UPDATE comment SET user_id = #{user.id},parent_type = #{parentType},parent_id = #{parentId},
            content = #{content},comment_count = #{commentCount} WHERE id = #{id};
    </update>

    <delete id="deleteCommentById" parameterType="java.lang.Long">
        DELETE FROM comment WHERE id = #{_parameter};
    </delete>

    <insert id="insertComment" parameterType="com.xhystc.zhihu.model.Comment"  useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO comment(user_id, parent_type, parent_id, content)
                VALUES (#{user.id},#{parentType},#{parentId},#{content});
    </insert>


    <select id="selectComments" parameterType="com.xhystc.zhihu.model.vo.query.CommentQueryCondition" resultMap="commentResultMapper">
        SELECT c.*,u.*,u.id AS uid ,ci.comment_count as r_comment_count,v.vote_count as r_agree
        FROM comment c
        LEFT JOIN user u on u.id = c.user_id
        LEFT JOIN comment_inform ci on ci.id = CONCAT('comment_',c.id)
        LEFT JOIN vote_inform v on v.id = CONCAT('comment_',c.id)
        <where>
            <if test="parentType != null">
                parent_type = #{parentType}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="ids != null">
                and c.id in
                <foreach collection="ids" item="cid" open="(" close=")" separator=",">
                    #{cid}
                </foreach>
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderBy !=null ">
                ${orderBy},send_date
            </when>
            <otherwise>
                send_date
            </otherwise>
        </choose>
        <choose>
            <when test="order !=null ">
                ${order}
            </when>
            <otherwise>
                asc
            </otherwise>
        </choose>
        <choose>
            <when test="offset>=0 and rows >0">
                LIMIT ${offset},${rows}
            </when>
            <otherwise>
                LIMIT 0,20
            </otherwise>
        </choose>
    </select>

</mapper>