<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhystc.v3ex.dao.CommentDao">
    <resultMap id="commentResultMapper" type="com.xhystc.v3ex.model.Comment">
        <id column="id" property="id"/>
        <result column="send_date" property="sendDate"/>
        <result column="r_comment_count" property="commentCount"/>
        <result column="vote_count" property="voteCount"/>
        <result column="content" property="content"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_type" property="parentType"/>
        <association property="user" column="user_id" javaType="com.xhystc.v3ex.model.User" >
            <id column="uid" property="id"/>
            <result column="name" property="name"/>
            <result column="password" property="password"/>
            <result column="email" property="email"/>
            <result column="iconUrl" property="iconUrl"/>
            <result column="salt" property="salt"/>
            <result column="is_locked" property="isLocked"/>
            <result column="regist_date" property="registDate"/>
        </association>
    </resultMap>

    <select id="getCommentById" resultMap="commentResultMapper" parameterType="java.lang.Long">
        SELECT c.*,u.*,u.id AS uid
        FROM comment c
        LEFT JOIN user u ON u.id = c.user_id
        where c.id = #{_parameter}
    </select>
    <update id="updateComment" parameterType="com.xhystc.v3ex.model.Comment">
        UPDATE comment
        <set>
            <if test="content !=null ">
                content = #{content},
            </if>
            <if test="user !=null">
                user_id = #{user.id}
            </if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="deleteCommentById" parameterType="java.lang.Long">
        DELETE FROM comment WHERE id = #{_parameter};
    </delete>

    <insert id="insertComment" parameterType="com.xhystc.v3ex.model.Comment"  useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO comment(user_id,parent_type,parent_id, content)
                VALUES (#{user.id},#{parentType},#{parentId},#{content});
    </insert>


    <select id="selectComments" parameterType="map" resultMap="commentResultMapper">
        SELECT c.*,u.*,u.id AS uid
        FROM comment c
        LEFT JOIN user u on u.id = c.user_id
        <where>
            <if test="parentType !=null">
                parent_type = #{parentType}
            </if>
            <if test="parentId != null">
               AND parent_id = #{parentId}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="include != null and include.size >0">
                and c.id in
                <foreach collection="include" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderBy !=null ">
                ${orderBy},send_date
            </when>
            <otherwise>
                send_date
            </otherwise>
        </choose>
        <choose>
            <when test="order !=null ">
                ${order}
            </when>
            <otherwise>
                asc
            </otherwise>
        </choose>
        <choose>
            <when test="offset>=0 and rows >0">
                LIMIT ${offset},${rows}
            </when>
        </choose>
    </select>

</mapper>