<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhystc.v3ex.dao.QuestionTagDao">

    <select id="getQuestionTags" resultMap="com.xhystc.v3ex.dao.TagDao.tagResultMap">
        SELECT * FROM tag t WHERE t.id IN (SELECT t_id FROM question_tag WHERE q_id = #{arg0});
    </select>
    <select id="getQuestionTagIds" resultType="java.lang.Long">
        SELECT t_id FROM question_tag WHERE q_id = #{arg0};
    </select>

    <select id="tagCount" resultType="java.lang.Integer">
        SELECT count(*) FROM question_tag WHERE q_id = #{arg0}
    </select>

    <insert id="insertQuestionTag" >
        INSERT INTO question_tag(q_id, t_id) VALUES (#{arg0},#{arg1});
    </insert>
</mapper>