<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhystc.v3ex.dao.TagDao">
    <resultMap id="tagResultMap" type="com.xhystc.v3ex.model.Tag">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="description" property="description"/>
        <result column="question_count" property="questionCount"/>
    </resultMap>

    <insert id="insertTag" parameterType="com.xhystc.v3ex.model.Tag" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO tag(name,description,icon,question_count)
        VALUES (#{name},#{description},#{icon},#{count})
    </insert>
    <update id="increaseCount" >
        UPDATE tag SET question_count = question_count+1 WHERE id = #{arg0}
    </update>

    <delete id="deleteTag">
        DELETE FROM tag WHERE id = #{arg0}
    </delete>
    <select id="selectAll" resultMap="tagResultMap">
        SELECT * FROM tag;
    </select>
    <select id="getTagsByName" resultType="com.xhystc.v3ex.model.Tag">
        SELECT * FROM tag WHERE name like '${_parameter}%'
    </select>
    <select id="getTagById" resultType="com.xhystc.v3ex.model.Tag">
        SELECT * FROM tag WHERE id = #{arg0}
    </select>


</mapper>