<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhystc.v3ex.dao.VoteInformDao">

    <resultMap id="voteInformResultMapper" type="com.xhystc.v3ex.model.VoteInform">
        <id column="id" property="id"/>
        <result column="vote_count" property="voteCount"/>
        <result column="last_vote_time" property="lastVoteTime"/>
        <result column="last_vote_user" property="lastVoteUser"/>
    </resultMap>

    <insert id="insertVoteInform" parameterType="com.xhystc.v3ex.model.VoteInform">
        INSERT INTO vote_inform(id, last_vote_time, last_vote_user, vote_count)
        VALUES(#{id},#{lastVoteTime},#{lastVoteUser},#{voteCount})
    </insert>

    <update id="updateVoteInform" parameterType="com.xhystc.v3ex.model.VoteInform">
        UPDATE vote_inform
        <set>
            <if test="lastVoteTime != null">
                last_vote_time = #{lastVoteTime},
            </if>
            <if test="lastVoteUser != null">
                last_vote_user = #{lastVoteUser},
            </if>
            <if test="voteCount != null">
                vote_count = #{voteCount}
            </if>

        </set>
        where id = #{id}
    </update>

    <select id="selectVoteInform" parameterType="com.xhystc.v3ex.model.vo.query.VoteInformQueryCondition" resultMap="voteInformResultMapper">
        SELECT c.* FROM vote_inform c
        <where>
            <if test="id != null and id >0">
                id = #{id}
            </if>
            <if test="voteCount != 0">
               and vote_count > #{voteCount}
            </if>
            <if test="lastVoteTime != null">
                and last_vote_time > #{lastVoteTime}
            </if>
            <if test="include != null and include.size >0">
                and id in
                <foreach collection="include" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getVoteInformById" resultMap="voteInformResultMapper">
        SELECT c.* FROM vote_inform c WHERE id = #{arg0}
    </select>

    <update id="increaseVoteInform" parameterType="com.xhystc.v3ex.model.VoteInform">
        UPDATE vote_inform
        <set>
            <if test="lastVoteUser != null and lastVoteUser >0">
                last_vote_user = #{lastVoteUser},
            </if>
            <if test="lastVoteTime !=null">
                last_vote_time = #{lastVoteTime},
            </if>
            vote_count = vote_count+#{voteCount}
        </set>
        where id = #{id}
    </update>
</mapper>