<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xhystc.v3ex.dao.VoteDao">
    <resultMap id="voteResultMap" type="com.xhystc.v3ex.model.Vote">
        <id column="user_id" property="userId"/>
        <id column="parent_id" property="parentId"/>
        <id column="parent_type" property="parentType"/>
    </resultMap>

    <select id="selectVotes" parameterType="com.xhystc.v3ex.model.vo.query.VoteQueryCondition" resultMap="voteResultMap">
        SELECT * from vote
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="parentType != null">
                and parent_type = #{parentType}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="include != null and include.size >0">
                and parent_id in
                <foreach collection="include" item="pid" open="(" close=")" separator=",">
                    #{pid}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertVote" parameterType="com.xhystc.v3ex.model.Vote">
        INSERT INTO vote(user_id, parent_id, parent_type)
                VALUES (#{userId},#{parentId},#{parentType})
    </insert>

    <delete id="deleteVote" parameterType="com.xhystc.v3ex.model.Vote">
        DELETE FROM vote WHERE user_id = #{userId} AND parent_id = #{parentId} AND parent_type = #{parentType}
    </delete>
    <select id="getUserVotes" parameterType="java.lang.Long" resultMap="voteResultMap">
        SELECT * FROM vote WHERE user_id = #{_parameter};
    </select>



</mapper>






